#tetris {
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: space-around;
    border: 3px solid black;
    /* background-color: red; */
    user-select: none;
}

/* .section {

} */

.section-display {
    text-align: center;
    font-size: 1.5rem;
}

.table {
    text-align: center;
    background-color: #888;
    margin: 0.5rem;
}

.hold-td {
    width: 0.5rem;
    height: 0.5rem;
}

#main {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.main-td {
    width: 1rem;
    height: 1rem;
}

.future-td {
    width: 0.5rem;
    height: 0.5rem;
}